@import 'reset-css';

.main {
  padding: 1.5rem 1rem 1rem;
}
.main h4 {
  font-size: calc(1.275rem + 0.3vw);
}
.main code {
  color: #d63384;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.semi-select {
  width: 100%;
}

.new-line {
  white-space: pre-line;
}

.result-text {
  white-space: pre-line;
  margin: 24px 0;
  padding: 16px;
  overflow: auto;
  border-radius: 4px;
  line-height: 22px;
  color: var(--semi-color-text-0);
  border: 1px solid var(--semi-color-border);
  background-color: rgba(0, 0, 0, .01);
  font-size: 14px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

.title-text{
  vertical-align: middle;
}